<p-tieredMenu #activityActionMenu [model]="actionMenu" [popup]="true" />
<!-- <app-toast></app-toast> -->
<div class="activity-div">
  <app-accordion-panel
    class="activity-panel-div"
    [isExpand]="activity.isExpand"
  >
    <div
      acc-panel-header
      class="activity-panel-header"
      (click)="panelOnClick(false)"
    >
      <app-base-label
        [label]="
          (activity.activityModuleCode === 'LOG'
            ? 'ACTIVITY.MODULE.LOGGED_'
            : 'ACTIVITY.MODULE.') + activity.activityModuleSubCode
        "
        class="tw-ml-[6px] activity-title-label tw-grid tw-items-center"
        (mouseenter)="activityInfoPanel.toggle($event)"
        (mouseleave)="activityInfoPanel.toggle($event)"
      ></app-base-label>

      <div class="empty-block"></div>

      <!-- <div
        class="activity-panel-content tw-grid tw-items-center"
        [innerHTML]="activity.activityContent"
      ></div> -->

      <!-- action button -->
      <app-base-button
        [iconName]="'pi pi-sort-down-fill action-icon'"
        [rightIcon]="true"
        [isTextStyle]="true"
        [label]="'BUTTON.ACTION' | translate"
        (click)="activityActionMenu.toggle($event); $event.stopPropagation()"
        [buttonStyleClass]="'activity-action-button'"
      />

      <!-- activity date -->
      <div class="activity-date tw-grid tw-items-center">
        {{ activity.activityDatetime | date : "yyyy-MM-dd" }}
        {{ "ACTIVITY.AT" | translate }}
        {{ activity.activityDatetime | date : "HH:mm" }}
      </div>
    </div>

    <!-- panel body -->
    <div acc-panel-body class="activity-panel-content-div">
      <!-- email form -->
      <app-base-form
        [formConfig]="emailFormConfig"
        *ngIf="
          activity.activityModuleCode === 'CREATE' &&
          activity.activityModuleSubCode === 'EMAIL'
        "
      ></app-base-form>

      <div class="text-editor">
        <div
          [innerHTML]="activity.activityContent"
          *ngIf="contentReadonly"
          class="readonly-content-div"
          (click)="contentReadonly = false; readonly = false"
        ></div>

        <p-divider *ngIf="contentReadonly"></p-divider>

        <p-editor
          *ngIf="!contentReadonly"
          [formControl]="editorFormControl"
          [style]="{ height: '200px' }"
          (onTextChange)="countTextLength($event)"
          [placeholder]="'ACTIVITY.EDITOR_PLACEHOLDER' | translate"
          class="tw-px-[var(--content-gap)]"
        />
      </div>

      <div class="tw-flex tw-justify-between tw-items-center">
        <!-- word count -->
        <div class="tw-grid tw-items-center tw-pl-[var(--content-gap)]">
          <div *ngIf="!contentReadonly">
            {{ activity.activityContentLength }} / {{ editorContentLimit }}
            {{ "ACTIVITY.WORDS" | translate }}
          </div>
        </div>

        <div class="tw-flex">
          <!-- add attachment -->
          <app-base-button
            [iconName]="'pi pi-file-plus'"
            [outlined]="true"
            (onClick)="uploader.click()"
            [pTooltip]="'BUTTON.ATTACH_FILE' | translate"
          ></app-base-button>

          <!-- asso -->
          <app-base-button
            [label]="
              'Associated with ' +
              (assoContactForm.value?.length + assoCompanyForm.value?.length) +
              ' records'
            "
            [isTextStyle]="true"
            (onClick)="assoPanelBlock.toggle($event)"
          ></app-base-button>

          <input
            type="file"
            id="file-input"
            #uploader
            hidden
            (change)="fileUpload($event)"
            multiple
          />
        </div>
      </div>

      <!-- attachment -->
      <div
        class="attachment-div tw-mt-[15px] tw-flex"
        *ngIf="
          (displayedAttachmentList && displayedAttachmentList.length > 0) ||
          (attachmentList && attachmentList.length > 0)
        "
      >
        <div class="tw-grid tw-items-center tw-mr-[15px]">
          <div class="pi pi-paperclip"></div>
        </div>
        <div class="attachment-chip-div tw-flex tw-flex-wrap">
          <app-chip
            *ngFor="let file of displayedAttachmentList"
            label="{{ file?.fileName }} ({{ returnFileSize(file?.fileSize) }})"
            [attachment]="file"
            class="tw-mr-2 tw-mt-1"
            (remove)="removeFile($event)"
            [removable]="!contentReadonly || !readonly"
          ></app-chip>
          <app-chip
            *ngFor="let file of attachmentList"
            label="{{ file?.name }} ({{ returnFileSize(file?.size) }})"
            [file]="file"
            class="tw-mr-2 tw-mt-1"
            (remove)="removeFile($event)"
            [removable]="!contentReadonly || !readonly"
          ></app-chip>
        </div>
      </div>

      <!-- log activity form -->
      <app-base-form
        [formConfig]="activityFormConfig"
        *ngIf="activity.activityModuleCode === 'LOG'"
      ></app-base-form>

      <!-- footer buttons -->
      <div
        class="content-btn-div tw-flex tw-justify-between tw-mt-[var(--content-gap)]"
        *ngIf="!readonly"
      >
        <app-base-button
          [label]="'BUTTON.CANCEL' | translate"
          [outlined]="true"
          (onClick)="cancelActivity()"
        ></app-base-button>
        <app-base-button
          [label]="'BUTTON.UPDATE' | translate"
          class="tw-ml-[var(--content-gap)]"
          (onClick)="updateActivity()"
        ></app-base-button>
      </div>
    </div>
  </app-accordion-panel>
  <div
    *ngIf="activity.activityContent && !this.activity.isExpand"
    class="activity-content"
    [@fadeInOut]
    [innerHTML]="activity.activityContent"
    (click)="panelOnClick(true)"
  ></div>
</div>

<p-overlayPanel #activityInfoPanel>
  <div *ngFor="let comp of componentList" class="tw-mb-[var(--content-gap)]">
    <div *ngIf="comp === 'OUTCOME_C' || comp === 'OUTCOME_M'" class="tw-flex">
      <div class="tw-mr-[var(--content-gap)]">
        {{ "ACTIVITY.OUTCOME" | translate }}:
      </div>
      <div>
        {{
          activity.activityOutcomeId
            ? returnModuleInfo(comp, activity.activityOutcomeId)
            : "--"
        }}
      </div>
    </div>
    <div *ngIf="comp === 'DIRECT'" class="tw-flex">
      <div class="tw-mr-[var(--content-gap)]">
        {{ "ACTIVITY.DIRECT" | translate }}:
      </div>
      <div>
        {{
          activity.activityDirectionId
            ? returnModuleInfo(comp, activity.activityDirectionId)
            : "--"
        }}
      </div>
    </div>
  </div>
</p-overlayPanel>

<p-overlayPanel #assoPanelBlock>
  <div class="asso-div tw-flex">
    <p-tabView>
      <!-- contact tab -->
      <p-tabPanel>
        <ng-template pTemplate="header">
          <div styleClass="tw-flex tw-w-full tw-justify-between">
            {{ "PROFILE.CONTACTS" | translate }}
          </div>
          <div>({{ assoContactForm.value?.length ?? 0 }})</div>
        </ng-template>
        <div>
          <app-base-form [formConfig]="assoContactFormConfig"></app-base-form>
        </div>
      </p-tabPanel>

      <!-- company tab -->
      <p-tabPanel>
        <ng-template pTemplate="header">
          <div styleClass="tw-flex tw-w-full tw-justify-between">
            {{ "PROFILE.COMPANYS" | translate }}
          </div>
          <div>({{ assoCompanyForm.value?.length ?? 0 }})</div>
        </ng-template>
        <div>
          <app-base-form [formConfig]="assoCompanyFormConfig"></app-base-form>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</p-overlayPanel>
