<p-tieredMenu #activityActionMenu [model]="actionMenu" [popup]="true" />
<div class="activity-div">
  <app-accordion-panel
    class="activity-panel-div"
    [expandIndex]="activity.isExpand ? [0] : null"
  >
    <div
      acc-panel-header
      class="activity-panel-header tw-flex tw-justify-between tw-items-center"
    >
      <app-base-label
        [label]="activity.activityModuleCode"
        class="tw-ml-[6px]"
      ></app-base-label>
      <p-button
        icon="pi pi-sort-down-fill action-icon"
        [iconPos]="'right'"
        [text]="true"
        [label]="'BUTTON.ACTION' | translate"
        (click)="activityActionMenu.toggle($event)"
      />
    </div>
    <div acc-panel-body class="activity-panel-content-div">
      <app-base-form [formConfig]="activityFormConfig"></app-base-form>
    </div>
  </app-accordion-panel>
</div>
