<app-base-button
  [iconName]="'pi pi-palette'"
  [rounded]="true"
  [isTextStyle]="true"
  [raised]="true"
  [outlined]="true"
  (onClick)="togglePanel()"
  [buttonStyleClass]="'tw-bg-[var(--primary-color-text)]'"
></app-base-button>

<app-overlay-panel>
  <div class="" overlay-panel-body>
    <div class="theme-container tw-w-[200px]">
      <div
        *ngFor="let theme of themeList"
        class="theme-item tw-w-full tw-mb-[15px]"
      >
        <app-base-button
          [outlined]="true"
          (onClick)="changeTheme(theme.file)"
          styleClass="tw-w-full tw-bg-transparent tw-text-left tw-justify-around"
          [iconName]="theme.icon"
          [rightIcon]="true"
          [label]="theme.name"
        ></app-base-button>
      </div>

      <!-- <app-base-input
        [label]="'Blobity'"
        [fieldControl]="blobityFormControl"
        [mode]="'switch'"
      ></app-base-input> -->
    </div>
  </div>
</app-overlay-panel>
