<div class="header-div flex justify-between">
  <div class="tw-w-full">
    <p-menubar [model]="menuItem" class="tw-w-full">
      <ng-template pTemplate="menuItem" let-item let-root="root">
        <a
          pRipple
          class="flex align-items-center p-menuitem-link"
          [pTooltip]="item.tooltip | translate"
        >
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <span
            *ngIf="item.shortcut"
            class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
            >{{ item.shortcut }}</span
          >
          <i
            *ngIf="item.items"
            [ngClass]="[
              'pi',
              root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
            ]"
          ></i>
        </a>
      </ng-template>
      <ng-template pTemplate="end">
        <div class="tw-flex">
          <app-base-input
            [iconRightStyle]="'pi pi-search'"
            [placeholder]="'HEADER.SEARCH' | translate"
            [autoFocus]="true"
            [fieldControl]="searchFormControl"
          ></app-base-input>

          <div class="setting-div">
            <p-button
              [rounded]="true"
              [text]="true"
              [icon]="'pi pi-cog'"
              [pTooltip]="'HEADER.SETTING' | translate"
            ></p-button>
          </div>
        </div>
      </ng-template>
    </p-menubar>
  </div>
</div>
