<div class="tw-flex profile-box">
  <p-splitter
    [panelSizes]="[15, 70]"
    [minSizes]="[10, 50]"
    [ngClass]="{
      'tw-w-[80%]': isRightPanelShow,
      'tw-w-full': !isRightPanelShow
    }"
  >
    <ng-template pTemplate>
      <app-left-panel
        class="left-panel-area tw-w-full"
        [module]="module"
        [propertiesList]="propertiesList"
        [contactProfile]="contactProfile"
        [companyProfile]="companyProfile"
        (profileUpdateEmit)="profileUpdate($event)"
      ></app-left-panel>
    </ng-template>

    <ng-template pTemplate>
      <app-middle-panel
        [module]="module"
        [contactProfile]="contactProfile"
        [companyProfile]="companyProfile"
        [activitiesList]="activitiesList"
        class="middle-panel-area tw-w-full"
        (activityListEmit)="getActivities()"
      ></app-middle-panel>

      <app-base-button
        [iconName]="
          isRightPanelShow
            ? 'pi pi-angle-double-right'
            : 'pi pi-angle-double-left'
        "
        [rounded]="true"
        (onClick)="isRightPanelShow = !isRightPanelShow"
        [buttonClass]="'tw-p-[0px!important]'"
        class="tw-absolute"
        [ngClass]="{
          'panel-right-pos-on': isRightPanelShow, 
          'panel-right-pos-off': !isRightPanelShow, 
        }"
      ></app-base-button>
    </ng-template>
  </p-splitter>

  <!-- Right Panel -->
  <app-right-panel
    [ngClass]="{
      'tw-w-[20%]': isRightPanelShow,
      'tw-w-0': !isRightPanelShow
    }"
    class="tw-absolute tw-right-0 tw-w-[20%] tw-transform tw-transition-transform tw-duration-1000"
    *ngIf="isRightPanelShow"
    [module]="module"
    [propertiesList]="propertiesList"
    [contactProfile]="contactProfile"
    [companyProfile]="companyProfile"
  ></app-right-panel>
</div>
