<div class="tw-flex">
  <p-splitter [panelSizes]="[30, 70]" [minSizes]="[20, 50]" class="tw-w-full">
    <ng-template pTemplate>
      <app-left-panel
        class="left-panel-area"
        [propertiesList]="propertiesList"
        [contactProfile]="contactProfile"
        (contactProfileUpdateEmit)="contactProfileUpdate($event)"
      ></app-left-panel>
    </ng-template>

    <ng-template pTemplate>
      <app-middle-panel
        [contactProfile]="contactProfile"
        [activitiesList]="activitiesList"
        class="middle-panel-area tw-mr-[15px] tw-w-full"
      ></app-middle-panel>
    </ng-template>
  </p-splitter>
  <!-- <app-right-panel class="right-panel-area"></app-right-panel> -->
</div>
