.profile-page-div {
  grid-template-areas: "left-panel-area middle-panel-area";
  grid-template-columns: 40% 1fr;
  column-gap: 15px;
}

.profile-box {
  margin-top: var(--content-gap);
}

:host ::ng-deep {
  .profile-box {
    .p-splitter {
      background-color: transparent;
      border-width: 0;
    }
  }
}

.panel-right-pos-on {
  right: calc(20% + var(--content-gap));
}

.panel-right-pos-off {
  right: var(--content-gap);
}
