<div
  class="asso-block-div"
  (mouseenter)="isHover = true"
  (mouseleave)="isHover = false"
>
  <a
    *ngIf="isHover"
    class="more-button tw-bg-[var(--text-color-secondary)] tw-text-[var(--primary-color-text)] tw-py-[var(--content-gap-xxs)] tw-px-[var(--content-gap-s)] tw-rounded-tr-[var(--border-radius)] tw-cursor-pointer"
    (click)="assoActionMenu.toggle($event); $event.stopPropagation()"
    >More
    <span
      class="pi pi-sort-down-fill tw-text-[var(--primary-color-text)] tw-text-[10px]"
    ></span>
  </a>
  <div class="asso-detail-div">
    <a
      class="tw-cursor-pointer hover:tw-underline tw-w-full text-hidden-dots"
      (click)="toProfile()"
    >
      {{
        module === "CONT"
          ? companyProfile.companyName
          : contactProfile.contactFirstName +
            " " +
            contactProfile.contactLastName
      }}
    </a>

    <a
      class="tw-cursor-pointer hover:tw-underline tw-w-full text-hidden-dots"
      (click)="copy()"
      [pTooltip]="'MESSAGE.COPY_EMAIL' | translate"
    >
      {{
        module === "CONT"
          ? companyProfile.companyEmail
          : contactProfile.contactEmail
      }}
    </a>
  </div>
  <div
    class="tw-grid tw-items-center tw-p-[var(--content-gap)] asso-avatar-div"
  >
    <p-avatar
      *ngIf="
        !contactProfile.contactProfilePhotoUrl &&
        !companyProfile.companyProfilePhotoUrl
      "
      [icon]="'pi pi-user'"
      styleClass="tw-w-[40px] tw-h-[40px]"
      shape="circle"
      data-blobity-magnetic="true"
    />
    <p-avatar
      *ngIf="
        contactProfile.contactProfilePhotoUrl ||
        companyProfile.companyProfilePhotoUrl
      "
      [image]="
        module === 'CONT'
          ? companyProfile.companyProfilePhotoUrl
          : contactProfile.contactProfilePhotoUrl
      "
      styleClass="tw-w-[40px] tw-h-[40px]"
      shape="circle"
      data-blobity-magnetic="true"
    />
  </div>
</div>

<p-tieredMenu #assoActionMenu [model]="actionMenu" [popup]="true" />
