<div
  class="tw-flex tw-justify-between asso-block-div"
  (mouseenter)="isHover = true"
  (mouseleave)="isHover = false"
>
  <a
    *ngIf="isHover"
    class="more-button tw-bg-[var(--text-color-secondary)] tw-text-[var(--primary-color-text)] tw-py-[var(--content-gap-xxs)] tw-px-[var(--content-gap-s)] tw-rounded-tr-[var(--border-radius)] tw-cursor-pointer"
    (click)="assoActionMenu.toggle($event); $event.stopPropagation()"
    >More
    <span
      class="pi pi-sort-down-fill tw-text-[var(--primary-color-text)] tw-text-[10px]"
    ></span>
  </a>
  <div class="tw-grid">
    <app-base-button
      [isTextStyle]="true"
      [label]="
        module === 'CONT'
          ? companyProfile.companyName
          : contactProfile.contactFirstName +
            ' ' +
            contactProfile.contactLastName
      "
      (onClick)="toProfile()"
    ></app-base-button>
    <app-base-button
      [isTextStyle]="true"
      [label]="
        module === 'CONT'
          ? companyProfile.companyEmail
          : contactProfile.contactEmail
      "
    ></app-base-button>
  </div>
  <div class="tw-grid tw-items-center tw-p-[var(--content-gap)]">
    <p-avatar
      *ngIf="
        !contactProfile.contactProfilePhotoUrl &&
        !companyProfile.companyProfilePhotoUrl
      "
      [icon]="'pi pi-user'"
      styleClass="tw-w-[40px] tw-h-[40px]"
      shape="circle"
      data-blobity-magnetic="true"
    />
    <p-avatar
      *ngIf="
        contactProfile.contactProfilePhotoUrl ||
        companyProfile.companyProfilePhotoUrl
      "
      [image]="
        module === 'CONT'
          ? companyProfile.companyProfilePhotoUrl
          : contactProfile.contactProfilePhotoUrl
      "
      styleClass="tw-w-[40px] tw-h-[40px]"
      shape="circle"
      data-blobity-magnetic="true"
    />
  </div>
</div>

<p-tieredMenu #assoActionMenu [model]="actionMenu" [popup]="true" />
