<div class="page-container lg:tw-m-[15px]" *ngIf="propertiesList">
  <p-tabView
    class="contact-company-tab-view"
    (onChange)="tabViewOnChange($event)"
    (onClose)="tabViewOnClose($event)"
    [activeIndex]="returnActiveIndexPanel()"
    *ngIf="panelList.length > 0"
  >
    <p-tabPanel
      *ngFor="let panel of panelList"
      [closable]="panel.closable && panelList.length > 1"
      [selected]="panel.panelUid === activeTabPanel"
      [disabled]="tableLoading[activeTabPanel]"
    >
      <ng-template pTemplate="header" class="tab-view-header">
        <div class="tw-flex tw-gap-[var(--content-gap)]">
          <div *ngIf="!panel.edit">{{ panel.headerLabel }}</div>
          <!-- <div *ngIf="panel.edit">
            <app-base-input
              [fieldControl]="returnTabLabelFormControl(panel)"
              (focusout)="updateUserfilterSetting()"
            ></app-base-input>
          </div> -->

          <div class="tw-grid tw-items-center">
            <a (click)="editPanel(panel.panelUid); $event.stopPropagation()"
              ><span class="pi pi-pen-to-square"></span
            ></a>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <app-tab-panel-page
          [panel]="panel"
          [module]="module"
          [propertiesList]="propertiesList"
          [propertiesList2]="propertiesList2"
          [modulePropertyList]="modulePropertyList"
          (tabFilterEmit)="updateUserfilterSetting($event)"
          (tabColumnFilterEmit)="updateUserColumnSetting($event)"
          [tableFilter]="returnTabPanelByTabUid(panel)"
          [tableColumnFilter]="returnColumnFilterByTabUid(panel)"
          *ngIf="propertiesList.length > 0"
        ></app-tab-panel-page>
      </ng-template>
    </p-tabPanel>

    <!-- add tab button -->
    <p-tabPanel [disabled]="tableLoading[activeTabPanel]">
      <ng-template pTemplate="header" class="tw-p-0">
        <app-base-button
          [iconName]="'pi pi-plus'"
          (click)="addTab(); $event.stopPropagation()"
          styleClass="tw-w-[52px] tw-h-[52px] "
          [isTextStyle]="true"
          [disabled]="panelList.length >= 5"
        >
        </app-base-button>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
