@layer tailwind-base, primeng, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

:root {
  --content-gap: 15px;
  --content-gap-s: 8px;
  --content-gap-xs: 6px;
  --content-gap-xxs: 2px;
}

html {
  font-size: 1rem;
  height: 100%;
}

body {
  font-family: var(--font-family);
  background-color: var(--surface-ground);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  // width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color-text);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--surface-400);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-300);
}

.nfp-modal__content {
  width: 70% !important;
  height: 70% !important;
}

::selection {
  background-color: var(--highlight-bg);
  color: var(--highlight-text-color);
}
