<!-- contact/company asso -->
<app-accordion-panel
  class="profile-right-panel-div"
  [iconPos]="'start'"
  [isExpand]="attachPanelExpand"
>
  <!-- panel header -->
  <div
    acc-panel-header
    class="tw-w-full"
    (click)="attachPanelExpand = !attachPanelExpand"
  >
    <div class="asso-panel-header-div">
      <div class="asso-header-div text-hidden-dots tw-self-center">
        {{
          ("PROFILE.ATTACHMENTS" | translate) +
            " (" +
            (attachmentList?.length ?? 0) +
            ")"
        }}
      </div>

      <!-- add attachment -->
      <app-base-button
        *ngIf="checkPermission('create', module, permission)"
        [isTextStyle]="true"
        [label]="'BUTTON.ADD' | translate"
        [rightIcon]="false"
        [iconName]="'pi pi-plus'"
        (onClick)="openSidebar()"
        class="add-asso-btn"
      ></app-base-button>
    </div>
  </div>

  <!-- panel body -->
  <div
    acc-panel-body
    class="right-panel-content-div"
    class="tw-p-[var(--content-gap)] tw-gap-[var(--content-gap)] tw-flex tw-flex-wrap"
  >
    <!-- <app-attachment-chip
      [attachmentList]="attachmentList"
    ></app-attachment-chip> -->
    <app-chip
      *ngFor="let attachment of attachmentList"
      label="{{ attachment.fileName }} ({{
        returnFileSize(attachment.fileSize)
      }})"
      class=""
      [isFile]="true"
      [attachment]="attachment"
      (remove)="removeFile(attachment)"
    ></app-chip>
  </div>
</app-accordion-panel>
