<!-- <app-toast></app-toast> -->

<div class="setting-container" (scroll)="onScroll($event)" *ngIf="userC">
  <div
    class="tw-p-[var(--content-gap)] setting-left-container tw-w-[300px!important]"
    id="setting_left"
    *ngIf="windowSize.desktop"
  >
    <p-menu
      [model]="settingMenuItem"
      id="setting_menu_panel"
      styleClass="tw-w-[236px]"
    >
      <ng-template pTemplate="menuItem" let-item let-root="root">
        <a
          pRipple
          class="flex align-items-center p-menuitem-link"
          [pTooltip]="item.tooltip | translate"
        >
          <span [class]="item.icon"></span>
          <span class="">{{ item.label | translate }}</span>
          <span
            *ngIf="item.shortcut"
            class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
            >{{ item.shortcut }}</span
          >
          <i
            *ngIf="item.items"
            [ngClass]="[
              'pi',
              root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
            ]"
          ></i>
        </a>
      </ng-template>
    </p-menu>
  </div>

  <div class="setting-content">
    <div class="general-content" id="general">
      <app-general [permission]="permission" [module]="module"></app-general>
    </div>

    <div
      class="team-content"
      id="team"
      *ngIf="returnPermissionObj('TEAM', 'display')"
    >
      <p-divider></p-divider>
      <app-team [permission]="permission"></app-team>
    </div>

    <div
      class="property-content"
      id="property"
      *ngIf="returnPermissionObj('PROPERTY', 'display')"
    >
      <p-divider></p-divider>
      <app-setting-property [permission]="permission"></app-setting-property>
    </div>
  </div>
</div>
