html {
  scroll-behavior: smooth;
}

.setting-container {
  display: flex;
}

.setting-content {
  width: 70%;
  margin: var(--content-gap) 0 var(--content-gap) 50px;
  background-color: var(--surface-0);
}

::ng-deep .p-menuitem.active-menu-item {
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
}
