html {
  scroll-behavior: smooth;
}

.setting-container {
  display: flex;
}

.setting-content {
  width: 100%;
}

::ng-deep .p-menuitem.active-menu-item {
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
}
