<!-- <app-toast></app-toast> -->

<div class="setting-container" (scroll)="onScroll($event)" *ngIf="userC">
  <div
    class="tw-p-[var(--content-gap)] setting-left-container tw-w-[300px!important]"
    id="setting_left"
    *ngIf="windowSize.desktop"
  >
    <p-menu
      [model]="settingMenuItem"
      id="setting_menu_panel"
      styleClass="tw-w-[236px]"
    >
    </p-menu>
  </div>

  <div class="setting-content">
    <div class="general-content" id="general">
      <app-general [permission]="permission" [module]="module"></app-general>
    </div>

    <div
      class="team-content"
      id="team"
      *ngIf="returnPermissionObj('TEAM', 'display')"
    >
      <p-divider></p-divider>
      <app-team [permission]="permission"></app-team>
    </div>

    <div
      class="property-content"
      id="property"
      *ngIf="returnPermissionObj('PROPERTY', 'display')"
    >
      <p-divider></p-divider>
      <app-setting-property [permission]="permission"></app-setting-property>
    </div>
  </div>
</div>
