<div>
  <app-accordion-panel
    class="profile-right-panel-div"
    [iconPos]="'start'"
    [isExpand]="assoPanelExpand"
  >
    <div acc-panel-header class="tw-w-full" (click)="panelOnClick('asso')">
      <div class="tw-flex tw-justify-between tw-flex-wrap tw-items-center">
        <div>
          {{
            module === "CONT"
              ? ("PROFILE.COMPANYS" | translate)
              : ("PROFILE.CONTACTS" | translate)
          }}
          ({{
            module === "CONT"
              ? contactProfile.associationList.length
              : companyProfile.associationList.length
          }})
        </div>

        <div>
          <app-base-button
            [isTextStyle]="true"
            [label]="'BUTTON.ADD' | translate"
            [rightIcon]="false"
            [iconName]="'pi pi-plus'"
            (onClick)="openSidebar('asso')"
          ></app-base-button>
        </div>
      </div>
    </div>
    <div
      acc-panel-body
      class="right-panel-content-div"
      class="tw-p-[var(--content-gap)]"
    >
      <div *ngIf="module === 'CONT'">
        <div *ngFor="let asso of contactProfile.associationList">
          <app-asso-block
            [module]="module"
            [companyProfile]="asso"
          ></app-asso-block>
        </div>
      </div>
      <div *ngIf="module === 'COMP'">
        <div *ngFor="let asso of companyProfile.associationList">
          <app-asso-block
            [module]="module"
            [contactProfile]="asso"
          ></app-asso-block>
        </div>
      </div>
    </div>
  </app-accordion-panel>
</div>

<!-- add asso contact/company -->
<p-dialog
  [(visible)]="showAddAssoSidebar"
  [position]="'right'"
  styleClass="tw-w-[30%] tw-h-[100%] tw-m-[var(--content-gap)]"
>
  <ng-template pTemplate="content">
    <app-base-form [formConfig]="assoFormConfig"></app-base-form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="tw-flex tw-justify-between tw-flex-wrap tw-items-center">
      <app-base-button
        [label]="'BUTTON.CANCEL' | translate"
        [isTextStyle]="true"
        (onClick)="closeSidebar()"
      ></app-base-button>
      <app-base-button
        [label]="'BUTTON.SAVE' | translate"
        (onClick)="save()"
      ></app-base-button>
    </div>
  </ng-template>
</p-dialog>
