<div class="tw-p-[var(--content-gap)] tw-pt-0">
  <!-- contact/company asso -->
  <app-accordion-panel
    class="profile-right-panel-div"
    [iconPos]="'start'"
    [isExpand]="assoPanelExpand"
  >
    <!-- panel header -->
    <div
      acc-panel-header
      class="tw-w-full"
      (click)="panelOnClick('asso')"
      [pTooltip]="
        module === 'CONT'
          ? ('PROFILE.COMPANYS' | translate) +
            ' (' +
            (contactProfile.association?.companyList?.length ?? 0) +
            ')'
          : ('PROFILE.CONTACTS' | translate) +
            ' (' +
            (companyProfile.association?.contactList?.length ?? 0) +
            ')'
      "
    >
      <div class="asso-panel-header-div">
        <div
          class="asso-header-div tw-text-ellipsis tw-overflow-hidden tw-whitespace-nowrap"
        >
          {{
            module === "CONT"
              ? ("PROFILE.COMPANYS" | translate) +
                " (" +
                (contactProfile.association?.companyList?.length ?? 0) +
                ")"
              : ("PROFILE.CONTACTS" | translate) +
                " (" +
                (companyProfile.association?.contactList?.length ?? 0) +
                ")"
          }}
        </div>

        <!-- add asso -->
        <app-base-button
          [isTextStyle]="true"
          [label]="'BUTTON.ADD' | translate"
          [rightIcon]="false"
          [iconName]="'pi pi-plus'"
          (onClick)="openSidebar('asso')"
          class="add-asso-btn"
        ></app-base-button>
      </div>
    </div>

    <!-- panel body -->
    <div
      acc-panel-body
      class="right-panel-content-div"
      class="tw-p-[var(--content-gap)]"
    >
      <div *ngIf="module === 'CONT'">
        <div
          *ngFor="
            let asso of contactProfile.association?.companyList;
            let i = index
          "
        >
          <app-asso-block
            [module]="module"
            [companyProfile]="asso"
            [profileUid]="contactProfile.uid"
            (removeAssoEmit)="assoEmitToParent('CONT')"
          ></app-asso-block>
          <div *ngIf="contactProfile.association?.companyList">
            <p-divider
              *ngIf="i !== contactProfile.association?.companyList?.length! - 1"
            ></p-divider>
          </div>
        </div>
      </div>
      <div *ngIf="module === 'COMP'">
        <div
          *ngFor="
            let asso of companyProfile.association?.contactList;
            let i = index
          "
        >
          <app-asso-block
            [module]="module"
            [contactProfile]="asso"
            [profileUid]="companyProfile.uid"
            (removeAssoEmit)="assoEmitToParent('COMP')"
          ></app-asso-block>
          <div *ngIf="companyProfile.association?.contactList">
            <p-divider
              *ngIf="i !== companyProfile.association?.contactList?.length! - 1"
            ></p-divider>
          </div>
        </div>
      </div>
    </div>
  </app-accordion-panel>
</div>

<!-- add asso contact/company -->
<p-dialog
  [(visible)]="showAddAssoSidebar"
  [position]="'right'"
  styleClass="tw-w-[30%] tw-h-[100%] tw-m-[var(--content-gap)]"
  [modal]="true"
  [draggable]="false"
>
  <ng-template pTemplate="content">
    <app-base-form [formConfig]="assoFormConfig"></app-base-form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="tw-flex tw-justify-between tw-self-center">
      <app-base-button
        [label]="'BUTTON.CANCEL' | translate"
        [isTextStyle]="true"
        (onClick)="closeSidebar()"
      ></app-base-button>
      <app-base-button
        [label]="'BUTTON.SAVE' | translate"
        (onClick)="save()"
      ></app-base-button>
    </div>
  </ng-template>
</p-dialog>
