<ngx-preview-list [files]="previewFileList" class="preview-list-container">
  <ng-template
    #itemTemplate
    let-file
    let-index="index"
    let-isActive="isActive"
    let-preview="preview"
  >
    <div
      class="preview-list-div"
      [class.active]="isActive"
      (click)="preview()"
      (fileSelect)="onFileSelect($event)"
    >
      <app-chip
        [label]="file.name"
        [isFile]="true"
        [attachment]="file"
      ></app-chip>
    </div>
  </ng-template>
</ngx-preview-list>
