<p-dialog
  [(visible)]="visible"
  [style]="{
    width: windowSize.desktop
      ? activityModule.moduleSubCode === 'MEET'
        ? '95%'
        : '70%'
      : '100%',
    maxHeight: windowSize.desktop ? '90%' : '100vh',
    height: windowSize.desktop ? 'auto' : '100vh'
  }"
  [modal]="false"
  [closable]="false"
>
  <ng-template pTemplate="header">
    <div class="activity-dialog-header tw-w-full">
      <div class="header-line tw-flex tw-justify-center">
        <span class="header-line-span"></span>
      </div>
      <div>
        <h3>{{ header }}</h3>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <!-- email -->
    <app-email
      *ngIf="activityModule.moduleSubCode === 'EMAIL'"
      [module]="module"
      [contactProfile]="contactProfile"
      [companyProfile]="companyProfile"
      (emailValueEmit)="emailValueEmit($event)"
    ></app-email>
    <!-- note -->
    <app-note
      *ngIf="activityModule.moduleSubCode === 'NOTE'"
      [module]="module"
      [contactProfile]="contactProfile"
      [companyProfile]="companyProfile"
      [activityModule]="activityModule"
      (noteValueEmit)="noteValueEmit($event)"
      (attachmentEmit)="attachmentEmit($event)"
    ></app-note>

    <app-meet
      *ngIf="activityModule.moduleSubCode === 'MEET'"
      [module]="module"
      [contactProfile]="contactProfile"
      [companyProfile]="companyProfile"
      [activityModule]="activityModule"
      (meetValueEmit)="meetValueEmit($event)"
    ></app-meet>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="tw-flex tw-justify-between tw-p-[var(--content-gap)]">
      <app-base-button
        [outlined]="true"
        [label]="'BUTTON.CANCEL'"
        (onClick)="closeDialog()"
      ></app-base-button>
      <app-base-button
        [label]="'BUTTON.SEND'"
        (onClick)="send()"
      ></app-base-button>
    </div>
  </ng-template>
</p-dialog>
