::ng-deep {
  .p-tabview-nav-content ul {
    li {
      width: 50%;

      a {
        justify-content: center;
      }
    }
  }

  .p-tabview-panels {
    height: calc(100vh - 48.67px);
    overflow: auto;
  }
}

.action-div {
  // position: absolute;
  // bottom: var(--content-gap);
  display: flex;
  gap: var(--content-gap);
  margin: auto;
  border-radius: 50px;
  border: 1px solid var(--gray-300);
  padding: var(--content-gap-s) var(--content-gap-xxl);
  justify-content: space-around;
  width: 70%;
}

.qr-camera-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scanner {
  aspect-ratio: 1/1;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
  height: 100%;
}

.name-input-div {
  display: flex;
  gap: var(--content-gap-s);
  padding-bottom: var(--content-gap);
}

.bingo-container {
  display: grid;
  width: 100%;
}

.bingo-box {
  aspect-ratio: 1/1;
  width: 20%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bingo-done {
  background-color: lightgreen;
}

.selected-bingo {
  padding: 4px;
  border: 1px solid blue;
  border-radius: var(--border-radius);
  width: 80%;
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.description-container {
  gap: var(--content-gap-s);
  padding: var(--content-gap);
}

.description-div {
  display: grid;
  gap: var(--content-gap-s);
  padding: var(--content-gap) 0;
  // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
}

.desc-div {
  display: grid;
  grid-template-columns: 28% 2% 70%;
  align-items: center;
  grid-template-areas: "desc-label desc-separator desc-value";
}
