<p-tabView class="">
  <!-- bingo tab -->
  <p-tabPanel header="Bingo">
    <div class="name-input-div">
      <app-base-input
        [placeholder]="'Your name'"
        [fieldControl]="usernameFormControl"
        [required]="true"
        class="tw-w-full"
        [autoFocus]="true"
      ></app-base-input>
      <app-base-button
        [label]="'Submit'"
        [outlined]="true"
        (onClick)="onSubmit()"
      ></app-base-button>
    </div>

    <div class="bingo-container">
      <div
        *ngFor="let row of user.bingo; let i = index"
        class="tw-flex tw-justify-center"
      >
        <div
          *ngFor="let item of row; let j = index"
          class="bingo-box"
          (click)="onBingoClick(item)"
          [ngClass]="{
            'bingo-done': item.done,
          }"
        >
          <div
            [ngClass]="{
              'selected-bingo':
                selectedBingo?.bingo?.id === item.bingo?.id &&
                selectedBingo?.bingo.id
            }"
          >
            {{ item.bingo?.id }}
          </div>
        </div>
      </div>
    </div>

    <div class="description-container" *ngIf="selectedBingo">
      <!-- buttons -->
      <div
        class="tw-flex tw-w-full tw-justify-center tw-gap-[var(--content-gap)]"
      >
        <app-base-button
          label="complete"
          (onClick)="onComplete()"
          buttonStyleClass="tw-bg-green-500"
        ></app-base-button>
        <app-base-button
          label="cancel"
          (onClick)="onCancel()"
          buttonStyleClass="tw-bg-red-500"
        ></app-base-button>
      </div>

      <div class="description-div">
        <div class="desc-div">
          <div class="desc-label">ID</div>
          <div class="desc-separator">:</div>
          <div class="desc-value">{{ selectedBingo?.bingo?.id }}</div>
        </div>
        <div class="desc-div">
          <div class="desc-label">Category</div>
          <div class="desc-separator">:</div>
          <div class="desc-value">{{ selectedBingo?.bingo?.category }}</div>
        </div>
        <div class="desc-div">
          <div class="desc-label">Mission</div>
          <div class="desc-separator">:</div>
          <div class="desc-value">{{ selectedBingo?.bingo?.description }}</div>
        </div>
      </div>
    </div>
  </p-tabPanel>

  <!-- qr tab -->
  <p-tabPanel header="QR">
    <div class="tw-grid tw-gap-[var(--content-gap)]">
      <app-base-dropdown
        [options]="deviceOptions"
        [fieldControl]="deviceFormControl"
        *ngIf="scannerEnable"
      ></app-base-dropdown>

      <div class="qr-camera-div">
        <zxing-scanner
          [enable]="scannerEnable"
          [(device)]="currentDevice"
          [formats]="allowedFormats"
          (scanComplete)="onScanComplete($event)"
          (scanSuccess)="onScanSuccess($event)"
          (onScanError)="onScanError($event)"
          (camerasFound)="cameraFound($event)"
          class="scanner"
          *ngIf="scannerEnable"
        ></zxing-scanner>

        <app-qr-code
          *ngIf="qrEnable"
          [qrData]="user.hiddenMission"
        ></app-qr-code>
      </div>

      <div class="action-div tw-shadow">
        <app-base-button
          [outlined]="true"
          [rounded]="true"
          [iconName]="'pi pi-camera'"
          (onClick)="cameraClick()"
        ></app-base-button>
        <app-base-button
          [outlined]="true"
          [rounded]="true"
          [iconName]="'pi pi-qrcode'"
          (onClick)="qrCodeClick()"
        ></app-base-button>
      </div>

      <div class="detail-div" *ngIf="scannedResult">
        <div>{{ scannedResult?.description }}</div>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
