.left-top-area {
  display: grid;
  grid-template-areas: "avatar-div info-div action-div";
  grid-template-columns: auto auto 1fr;
  column-gap: 15px;
  width: auto;
}

:host ::ng-deep {
  .avatar-div {
    .p-avatar-icon {
      font-size: 30px;
    }
  }

  .profile-name-label {
    display: block !important;
  }

  .profile-panel-div {
    .p-accordion-header {
      border: 1px solid var(--primary-color);
      border-top-width: 0px;
    }

    .p-accordion-content {
      border: 1px solid var(--primary-color);
      border-top-width: 0px;
      padding: 0px !important;
    }
  }
}

.panel-content-div {
  padding: 15px;
  overflow-y: auto;
  height: calc(100vh - 300px);
}

:host ::ng-deep {
  .left-profile-form {
    .p-dropdown .p-dropdown-label {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100px;
    }
  }
}
