.left-top-area {
  display: grid;
  grid-template-areas: "avatar-div info-div action-div";
  grid-template-columns: auto auto 1fr;
  column-gap: 15px;
  width: auto;
}

:host ::ng-deep {
  .button-container .button-item {
    padding: 0px !important;
    position: relative;
  }

  .avatar-div {
    .p-avatar-icon {
      font-size: 30px;
    }

    .avatar-edit {
      position: absolute;
      z-index: 2;

      .pi-file-edit {
        font-size: 30px;
      }
    }
  }

  .profile-name-label {
    display: block !important;
  }

  .profile-panel-div {
    .p-accordion-header {
      border: 1px solid var(--primary-color);
      border-top-width: 0px;
    }

    .p-accordion-content {
      border: 1px solid var(--primary-color);
      border-top-width: 0px;
      padding: 0px !important;
    }
  }

  .left-profile-form {
    .p-dropdown .p-dropdown-label {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100px;
    }
  }

  .left-panel-action-button {
    padding: 0 !important;
  }
}

.panel-content-div {
  overflow-y: auto;
  height: calc(100vh - 350px);
}

.email-text:hover {
  // background-color: var(--text-color-secondary);
}
