<app-toast></app-toast>

<!-- update profile form dialog -->
<p-dialog
  [(visible)]="showFormUpdateSidebar"
  [position]="'bottom'"
  styleClass="tw-w-full tw-m-[var(--content-gap)]"
>
  <ng-template pTemplate="headless">
    <div
      *ngIf="propUpdateList"
      class="tw-flex tw-flex-wrap tw-items-center tw-m-[15px]"
    >
      <div class="tw-flex">
        <app-base-button
          [label]="'BUTTON.SAVE'"
          styleClass=""
          class="tw-w-full"
          (onClick)="saveButton()"
        ></app-base-button>
        <app-base-button
          [label]="'BUTTON.CANCEL'"
          class="tw-ml-[15px]"
          [outlined]="true"
          (onClick)="cancelButton()"
        ></app-base-button>
      </div>

      <app-base-label
        [label]="
          'You\'ve changed ' +
          propUpdateList.length +
          (propUpdateList.length === 1 ? ' property' : ' properties') +
          '.'
        "
        class="tw-ml-[15px]"
      ></app-base-label>
    </div>
  </ng-template>
</p-dialog>

<!-- Edit profile picture dialog -->
<p-dialog
  [(visible)]="isShowAvatarEditDialog"
  styleClass="tw-w-[50%] tw-m-[var(--content-gap)]"
  [modal]="true"
>
  <ng-template pTemplate="headless">
    <img [src]="profileImg" />
    <p-button
      [icon]="'pi pi-plus'"
      [rounded]="true"
      (onClick)="imageUploader.click()"
      class="tw-mt-[15px]"
      [pTooltip]="'BUTTON.ATTACH_FILE' | translate"
    ></p-button>

    <p-button
      [label]="'BUTTON.UPLOAD' | translate"
      (onClick)="imageFileUploadBtn()"
    ></p-button>
  </ng-template>
</p-dialog>

<input
  type="file"
  id="file-input"
  #imageUploader
  hidden
  (change)="imageFileUpload($event)"
  accept="image/*"
/>

<div class="tw-bg-[var(--primary-color-text)]">
  <div
    class="left-top-area tw-p-[15px] tw-border-x tw-border-t tw-border-b-0 tw-border-[var(--primary-color)] tw-border-solid"
  >
    <div
      class="avatar-div"
      (mouseenter)="isAvatarEdit = true"
      (mouseleave)="isAvatarEdit = false"
    >
      <p-button
        icon="pi pi-file-edit"
        styleClass="tw-w-[80px] tw-h-[80px] avatar-edit"
        [rounded]="true"
        [text]="true"
        *ngIf="isAvatarEdit"
        (onClick)="editPic()"
        [pTooltip]="'AVATAR_EDIT' | translate"
      ></p-button>
      <p-avatar
        [icon]="'pi pi-user'"
        styleClass="tw-w-[80px] tw-h-[80px]"
        [ngClass]="isAvatarEdit ? 'tw-opacity-[0.5]' : 'tw-opacity-[1]'"
        shape="circle"
        data-blobity-magnetic="true"
      />
    </div>
    <div class="info-div tw-overflow-hidden tw-content-center">
      <app-base-label
        [label]="
          contactProfile.contactFirstName
            ? contactProfile.contactFirstName +
              ' ' +
              contactProfile.contactLastName
            : ''
        "
        [labelStyle]="'tw-text-ellipsis tw-overflow-hidden profile-name-label'"
      ></app-base-label>
      <div class="email-div tw-flex">
        <div
          class="email-text tw-text-ellipsis tw-overflow-hidden tw-content-center"
        >
          {{ contactProfile.contactEmail }}
        </div>
        <p-button
          icon="pi pi-copy"
          [text]="true"
          [rounded]="true"
          (click)="copyEmailToClipboard(contactProfile.contactEmail)"
          pTooltip="Copy email to clipboard"
        />
      </div>
    </div>
    <div class="action-div tw-flex tw-justify-end">
      <p-button
        icon="pi pi-ellipsis-v"
        [text]="true"
        [rounded]="true"
        (click)="profileActionMenu.toggle($event)"
      />
      <p-tieredMenu #profileActionMenu [model]="actionMenu" [popup]="true" />
    </div>
  </div>

  <div
    class="action-btn-div tw-flex tw-flex-wrap tw-w-full tw-justify-between tw-p-[15px] tw-border-solid tw-border-[var(--primary-color)] tw-border-x tw-border-t-0 tw-border-b"
  >
    <p-button
      icon="pi pi-file-edit"
      [rounded]="true"
      [text]="true"
      outlined="true"
      [styleClass]="'tw-bg-[var(--primary-color-text)]'"
      pTooltip="Create a note"
    />
    <p-button
      icon="pi pi-envelope"
      [rounded]="true"
      [text]="true"
      outlined="true"
      [styleClass]="'tw-bg-[var(--primary-color-text)]'"
      pTooltip="Create an email"
    />
    <p-button
      icon="pi pi-phone"
      [rounded]="true"
      [text]="true"
      outlined="true"
      [styleClass]="'tw-bg-[var(--primary-color-text)]'"
      pTooltip="Make a phone call"
    />
    <p-button
      icon="pi pi-list-check"
      [rounded]="true"
      [text]="true"
      outlined="true"
      [styleClass]="'tw-bg-[var(--primary-color-text)]'"
      pTooltip="Create a task"
    />
    <p-button
      icon="pi pi-calendar-plus"
      [rounded]="true"
      [text]="true"
      outlined="true"
      [styleClass]="'tw-bg-[var(--primary-color-text)]'"
      pTooltip="Schedule a meeting"
    />
    <p-button
      icon="pi pi-ellipsis-h"
      [rounded]="true"
      [text]="true"
      outlined="true"
      [styleClass]="'tw-bg-[var(--primary-color-text)]'"
      pTooltip="More"
    />
  </div>
</div>

<div class="tw-border" *ngFor="let propertyGroup of propertiesList">
  <div
    *ngIf="
      propertyGroup.moduleCode == 'CONT_INFO' ||
      propertyGroup.moduleCode == 'COMP_INFO'
    "
    class="panel-div"
  >
    <app-accordion-panel class="profile-panel-div" [iconPos]="'start'">
      <div acc-panel-header>
        {{ propertyGroup.moduleName }}
      </div>
      <div acc-panel-body class="panel-content-div">
        <app-base-form
          [formConfig]="profileFormConfig"
          class="left-profile-form"
        ></app-base-form>
      </div>
    </app-accordion-panel>
  </div>
</div>
