.left-top-area {
  display: grid;
  grid-template-areas: "avatar-div info-div action-div";
  grid-template-columns: auto auto 1fr;
  column-gap: 15px;
  width: auto;
}

:host ::ng-deep {
  .button-container .button-item {
    padding: 0px !important;
    position: relative;
  }

  .avatar-div {
    .p-avatar-icon {
      font-size: 30px;
    }

    .avatar-edit {
      position: absolute;
      z-index: 2;

      .pi-file-edit {
        font-size: 30px;
      }
    }
  }

  .profile-name-label {
    display: block !important;
    padding: 2px;
    border-radius: var(--border-radius);
  }

  .profile-panel-div {
    .p-accordion-header {
      border: 1px solid var(--primary-color);
      border-top-width: 0px;
    }

    .p-accordion-content {
      border: 1px solid var(--primary-color);
      border-top-width: 0px;
      padding: 0px !important;
    }
  }

  .left-profile-form {
    .p-dropdown .p-dropdown-label {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100px;
    }
  }

  .left-panel-action-button {
    padding: 0 !important;
  }
}

.panel-content-div {
  overflow-y: auto;
  height: calc(100vh - 305px);
}

.email-text {
  padding: 2px;
  border-radius: var(--border-radius);
}
.email-text:hover {
  background-color: var(--primary-100);
}

.action-btn-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: var(--content-gap);
  border-style: solid;
  border-color: var(--primary-color);
  border-width: 0 1px 1px 1px;
  gap: var(--content-gap);
  overflow-x: auto;
}
