<div
  class="login-container tw-w-screen tw-h-screen tw-grid tw-justify-center tw-items-center"
>
  <div class="tw-grid tw-justify-center tw-items-center">
    <app-base-form [formConfig]="loginFormConfig" class="login-form">
    </app-base-form>

    <div
      class="action-div tw-flex tw-justify-between tw-p-[var(--content-gap)]"
    >
      <app-base-button
        [label]="'BUTTON.CANCEL' | translate"
        [outlined]="true"
        (onClick)="cancel()"
      ></app-base-button>
      <app-base-button
        [label]="'BUTTON.LOGIN'"
        [color]="'normal'"
        class="tw-ml-[var(--content-gap)]"
        (onClick)="submit()"
      ></app-base-button>
    </div>
  </div>
</div>
