<div class="tw-w-full">
  <p-tabView class="middle-profile-tabView tw-w-full">
    <p-tabPanel header="Activities">
      <div class="tw-flex tw-justify-between">
        <app-base-input
          [iconRightStyle]="searchIcon"
          [placeholder]="'Search activities...'"
          [autoFocus]="true"
          [fieldControl]="searchControl"
          class="tw-w-[40%]"
        ></app-base-input>
        <div>
          <p-button
            icon="pi pi-ellipsis-v"
            [text]="true"
            [rounded]="true"
            (click)="profileActionMenu.toggle($event)"
          />
          <p-tieredMenu
            #profileActionMenu
            [model]="actionMenu"
            [popup]="true"
          />
        </div>
      </div>

      <p-tabView class="activity-tab">
        <!-- ALL Tab-->
        <p-tabPanel header="All" [selected]="false">
          <!-- Pinned -->
          <div *ngIf="returnIsPinnedActivityList('ALL').length > 0">
            <app-base-label [label]="'Pinned'"></app-base-label>
            <div
              *ngFor="let activity of returnIsPinnedActivityList('ALL')"
              class="tw-pb-[15px]"
            >
              <app-activity-block
                [activityControlList]="activityControlList"
                [activityModuleList]="activityModuleList"
                [activity]="activity"
                [moduleLable]="'ALL'"
                (activityReload)="activityListEmit.emit()"
              ></app-activity-block>
            </div>
          </div>

          <!-- UpComing -->
          <div *ngIf="returnUpComingActivityList('ALL').length > 0">
            <app-base-label [label]="'UpComing'"></app-base-label>
            <div
              *ngFor="let activity of returnUpComingActivityList('ALL')"
              class="tw-pb-[15px]"
            >
              <app-activity-block
                [activityControlList]="activityControlList"
                [activityModuleList]="activityModuleList"
                [activity]="activity"
                [moduleLable]="'ALL'"
                (activityReload)="activityListEmit.emit()"
              ></app-activity-block>
            </div>
          </div>
        </p-tabPanel>

        <!-- Other Tab -->
        <p-tabPanel
          *ngFor="let activityTab of activityModuleList"
          [header]="activityTab.moduleName"
          onclick=""
        >
          <div class="">
            <app-base-button
              [label]="returnActivityLable(activityTab.moduleCode)"
              class="tw-flex tw-justify-end tw-mb-[15px]"
              (onClick)="activityButtonOnClick(activityTab)"
            ></app-base-button>

            <!-- Pinned -->
            <div
              *ngIf="
                returnIsPinnedActivityList(activityTab.moduleCode).length > 0
              "
            >
              <app-base-label [label]="'Pinned'"></app-base-label>
              <div
                *ngFor="
                  let activity of returnIsPinnedActivityList(
                    activityTab.moduleCode
                  )
                "
                class="tw-pb-[15px]"
              >
                <app-activity-block
                  *ngIf="activity.activityModuleCode === activityTab.moduleCode"
                  [activityModule]="activityTab"
                  [activityControlList]="getActivityControlList(activityTab)"
                  [activityModuleList]="activityModuleList"
                  [activity]="activity"
                  (activityReload)="activityListEmit.emit()"
                ></app-activity-block>
              </div>
            </div>

            <!-- UpComing -->
            <div
              *ngIf="
                returnUpComingActivityList(activityTab.moduleCode).length > 0
              "
            >
              <app-base-label [label]="'UpComing'"></app-base-label>
              <div
                *ngFor="
                  let activity of returnUpComingActivityList(
                    activityTab.moduleCode
                  )
                "
                class="tw-pb-[15px]"
              >
                <app-activity-block
                  *ngIf="activity.activityModuleCode === activityTab.moduleCode"
                  [activityModule]="activityTab"
                  [activityControlList]="getActivityControlList(activityTab)"
                  [activityModuleList]="activityModuleList"
                  [activity]="activity"
                  (activityReload)="activityListEmit.emit()"
                ></app-activity-block>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </p-tabPanel>
    <!-- <p-tabPanel header="Properties"> </p-tabPanel> -->
  </p-tabView>
</div>

<app-activity-dialog
  [activityModule]="dialogActivityTab"
  [visible]="isOpenDialog"
  [contactProfile]="contactProfile"
  [activityControlListInput]="getActivityControlList(dialogActivityTab)"
  [activityModuleList]="activityModuleList"
  [header]="returnActivityLable(dialogActivityTab.moduleCode)"
  (close)="activityDialogCloseEmit()"
></app-activity-dialog>
