<div class="tw-w-full">
  <p-tabView class="middle-profile-tabView tw-w-full">
    <p-tabPanel header="Activities">
      <div class="tw-flex tw-justify-between">
        <app-base-input
          [iconRightStyle]="searchIcon"
          [placeholder]="'Search activities...'"
          [autoFocus]="true"
          [fieldControl]="searchControl"
          class="tw-w-[40%]"
        ></app-base-input>
        <div>
          <p-button
            icon="pi pi-ellipsis-v"
            [text]="true"
            [rounded]="true"
            (click)="profileActionMenu.toggle($event)"
          />
          <p-tieredMenu
            #profileActionMenu
            [model]="actionMenu"
            [popup]="true"
          />
        </div>
      </div>

      <p-tabView class="activity-tab">
        <p-tabPanel header="All" [selected]="false">
          <div *ngFor="let activity of activitiesList" class="tw-pb-[15px]">
            <app-activity-block
              [activityControlList]="activityControlList"
              [activityModuleList]="activityModuleList"
              [activity]="activity"
              [moduleLable]="'ALL'"
            ></app-activity-block>
          </div>
        </p-tabPanel>
        <p-tabPanel
          *ngFor="let activityTab of activityModuleList"
          [header]="activityTab.moduleName"
          onclick=""
        >
          <div class="">
            <app-base-button
              [label]="returnActivityLable(activityTab.moduleCode)"
              class="tw-flex tw-justify-end tw-mb-[15px]"
              (onClick)="activityButtonOnClick(activityTab)"
            ></app-base-button>

            <div *ngFor="let activity of activitiesList" class="tw-pb-[15px]">
              <app-activity-block
                *ngIf="activity.activityModuleCode === activityTab.moduleCode"
                [activityModule]="activityTab"
                [activityControlList]="getActivityControlList(activityTab)"
                [activityModuleList]="activityModuleList"
                [activity]="activity"
              ></app-activity-block>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </p-tabPanel>
    <!-- <p-tabPanel header="Properties"> </p-tabPanel> -->
  </p-tabView>
</div>

<app-activity-dialog
  [activityModule]="dialogActivityTab"
  [visible]="isOpenDialog"
  [contactProfile]="contactProfile"
  [activityControlListInput]="getActivityControlList(dialogActivityTab)"
  [activityModuleList]="activityModuleList"
  [header]="returnActivityLable(dialogActivityTab.moduleCode)"
  (close)="isOpenDialog = false"
></app-activity-dialog>
