<app-toast></app-toast>

<div class="tw-w-full">
  <div class="module-dp-div tw-m-[var(--content-gap)]">
    <app-base-label
      [label]="'SETTING.SELECT_MODULE' | translate"
    ></app-base-label>
    <app-base-dropdown
      [fieldControl]="moduleFormControl"
      [options]="moduleOptions"
    ></app-base-dropdown>
  </div>

  <div class="table-div tw-m-[var(--content-gap)]">
    <p-table
      [columns]="tableConfig"
      [value]="propertiesList"
      [(selection)]="selectedProperty"
      [resizableColumns]="true"
      [reorderableColumns]="true"
      [rowHover]="true"
      styleClass="p-datatable-gridlines p-datatable-striped"
      class="profile-company-table"
      [paginator]="true"
      [rows]="ROW_PER_PAGE_DEFAULT"
      [rowsPerPageOptions]="ROW_PER_PAGE_DEFAULT_LIST"
      [loading]="tableLoading"
    >
      <ng-template pTemplate="caption">
        <div class="tw-flex tw-justify-between">
          <div class="tw-flex">
            <p-button
              [icon]="'pi pi-plus'"
              rounded="true"
              [text]="true"
              [pTooltip]="'BUTTON.CREATE' | translate"
              (onClick)="toCreate()"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              [rounded]="true"
              [text]="true"
              (onClick)="delete()"
              *ngIf="selectedProperty.length > 0"
              [pTooltip]="'BUTTON.DELETE' | translate"
            />
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>
            <div class="tw-flex tw-justify-center">
              <p-tableHeaderCheckbox />
            </div>
          </th>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td>
            <div class="tw-flex tw-justify-center">
              <p-tableCheckbox [value]="rowData" />
            </div>
          </td>
          <td *ngFor="let col of columns">
            <div *ngIf="col.field === 'propertyName'">
              <p-button [text]="true">
                {{ rowData[col.field] }}
              </p-button>
            </div>
            <div *ngIf="col.field !== 'propertyName'">
              {{ returnColumnData(col.field, rowData[col.field]) }}
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [(visible)]="isPropertyDialogVisible"
  [header]="'SETTING.CREATE_PROPERTY' | translate"
  styleClass="tw-w-[70%]"
>
  <ng-template pTemplate="content">
    <app-base-form [formConfig]="propertyCreateFormConfig"></app-base-form>
    <app-base-form [formConfig]="propertyTypeFormConfig"></app-base-form>
    <div
      *ngIf="
        propertyDetailFormGroup.controls['type'].value === 'SEL_S' ||
        propertyDetailFormGroup.controls['type'].value === 'SEL_M' ||
        propertyDetailFormGroup.controls['type'].value === 'CBX_M' ||
        propertyDetailFormGroup.controls['type'].value === 'RAD'
      "
    >
      <div class="add-lessons-form" [formGroup]="propertyTypeFormGroup">
        <ng-container formArrayName="propertiesLookup">
          <ng-container
            *ngFor="let form of propertiesLookup.controls; let i = index"
          >
            <app-base-input
              [label]="'SETTING.OPTIONS_LABEL'"
              [fieldControl]="returnFormControlLookUpName(form)"
            ></app-base-input>
            <app-base-input
              [label]="'SETTING.OPTIONS_CODE'"
              [fieldControl]="returnFormControlLookUpCode(form)"
            ></app-base-input>

            <div>
              <!-- <mat-form-field appearance="fill">
                <input
                  matInput
                  formControlName="title"
                  placeholder="Lesson title"
                />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-select formControlName="level" placeholder="Lesson level">
                  <mat-option value="beginner">Beginner</mat-option>
                  <mat-option value="intermediate">Intermediate</mat-option>
                  <mat-option value="advanced">Advanced</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-icon class="delete-btn" (click)="deleteLookup(i)">
                delete_forever</mat-icon
              > -->
            </div>
          </ng-container>
        </ng-container>

        <p-button [label]="'Add'" (onClick)="addLookup()"></p-button>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      [label]="'BUTTON.CANCEL' | translate"
      [text]="true"
      severity="secondary"
      (click)="closeDialog()"
    />
    <p-button
      [label]="'BUTTON.CREATE' | translate"
      [outlined]="true"
      severity="primary"
      (click)="create()"
    />
  </ng-template>
</p-dialog>
