<div class="tw-h-screen tw-block">
  <app-base-form [formConfig]="formConfig"></app-base-form>

  <p-button (onClick)="show()">show toast</p-button>

  <!-- <app-toast></app-toast> -->
  <div class="tw-fixed tw-right-[10px] tw-bottom-[10px]">
    <app-toggle-theme></app-toggle-theme>
  </div>

  <!-- <app-accordion-panel>
    <div acc-panel-header>
      <p-splitButton [model]="splitBtnList"></p-splitButton>
    </div>
    <div acc-panel-body>
      <app-base-form [formConfig]="form2Config"></app-base-form>
    </div>
  </app-accordion-panel> -->
  <app-chip [label]="'testing'"></app-chip>

  <!-- <app-terminal></app-terminal> -->

  <!-- <p-button (onClick)="showSidePanelBtn('top')">show side panel</p-button> -->
  <p-button (onClick)="getAllUser()">show side panel</p-button>
  <app-side-panel [position]="sidePanelPosition" [visible]="showSidePanel">
    <div side-panel-header>
      <p-splitButton [model]="splitBtnList"></p-splitButton>
    </div>
    <div side-panel-body>
      <app-base-form [formConfig]="form2Config"></app-base-form>
    </div>
  </app-side-panel>
  <!-- <p-sidebar [(visible)]="showSidePanel" position="sidePanelPosition">
    <h3>dwdqw</h3>
  </p-sidebar> -->

  <app-tag [label]="'hihihi'"></app-tag>

  <p-editor
    [(ngModel)]="editorModel"
    [style]="{ height: '200px' }"
    [readonly]="false"
    [placeholder]="'ACTIVITY.EDITOR_PLACEHOLDER' | translate"
  />
</div>

<app-calendar></app-calendar>
