:host ::ng-deep {
  .p-dialog-header {
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .p-dialog-header:hover {
    cursor: move;

    .header-line-span {
      opacity: 1;
    }
  }
}

.header-line-span {
  width: 100px;
  background-color: var(--primary-color);
  height: 8px;
  border-radius: 20px;
  opacity: 0.5;
}

.below-content-div {
  display: grid;
  padding: var(--content-gap);
  grid-template-areas: "word-count-text asso-btn add-attach-btn";
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  gap: var(--content-gap);
}
