<p-dialog
  [(visible)]="visible"
  [style]="{ width: '70%' }"
  [modal]="false"
  [closable]="false"
>
  <ng-template pTemplate="header">
    <div class="activity-dialog-header tw-w-full">
      <div class="header-line tw-flex tw-justify-center">
        <span class="header-line-span"></span>
      </div>
      <div>
        <h3>{{ header }}</h3>
      </div>
    </div>
  </ng-template>
  <app-base-form [formConfig]="activityFormConfig"></app-base-form>

  <div class="text-editor">
    <p-editor
      [formControl]="editorFormControl"
      [(ngModel)]="editorModel"
      [style]="{ height: '200px' }"
      [readonly]="false"
      (onTextChange)="countTextLength($event)"
    />
  </div>

  <div class="tw-flex tw-justify-between">
    <div class="tw-grid tw-items-center">
      {{ contentWordLength }} / {{ editorContentLimit }}
      {{ "ACTIVITY.WORDS" | translate }}
    </div>
    <p-button label="Associated with 1 records" [text]="true" />
  </div>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancel"
      [text]="true"
      severity="secondary"
      (onClick)="closeDialog()"
    />
    <p-button label="Save" severity="primary" (onClick)="save()" />
  </ng-template>
</p-dialog>
