<p-dialog
  [(visible)]="visible"
  [style]="{ width: '70%' }"
  [modal]="false"
  [closable]="false"
>
  <ng-template pTemplate="header">
    <div class="activity-dialog-header tw-w-full">
      <div class="header-line tw-flex tw-justify-center">
        <span class="header-line-span"></span>
      </div>
      <div>
        <h3>{{ header }}</h3>
      </div>
    </div>
  </ng-template>
  <app-base-form [formConfig]="activityFormConfig"></app-base-form>

  <div class="text-editor tw-px-[var(--content-gap)]">
    <p-editor
      [formControl]="editorFormControl"
      [style]="{ height: '200px' }"
      [readonly]="false"
      (onTextChange)="countTextLength($event)"
      [placeholder]="'ACTIVITY.EDITOR_PLACEHOLDER' | translate"
    />
  </div>

  <div
    class="tw-flex tw-justify-between tw-items-center tw-px-[var(--content-gap)]"
  >
    <div class="tw-grid tw-items-center">
      {{ contentWordLength }} / {{ editorContentLimit }}
      {{ "ACTIVITY.WORDS" | translate }}
    </div>
    <app-base-button
      [iconName]="'pi pi-plus'"
      [rounded]="true"
      (onClick)="uploader.click()"
      class="tw-mt-[var(--content-gap)]"
      [pTooltip]="'BUTTON.ATTACH_FILE' | translate"
    ></app-base-button>
    <app-base-button
      [label]="
        'Associated with ' +
        (assoContactForm.value?.length + assoCompanyForm.value?.length) +
        ' records'
      "
      [isTextStyle]="true"
      (onClick)="assoPanel.toggle($event)"
    ></app-base-button>
  </div>

  <input
    type="file"
    id="file-input"
    #uploader
    hidden
    (change)="fileUpload($event)"
    multiple
  />

  <div
    class="attachment-div tw-mt-[var(--content-gap)] tw-flex"
    *ngIf="attachmentList.length > 0"
  >
    <div class="tw-grid tw-items-center tw-mr-[var(--content-gap)]">
      <div class="pi pi-paperclip"></div>
    </div>
    <div class="attachment-chip-div tw-flex tw-flex-wrap">
      <app-chip
        *ngFor="let file of attachmentList"
        label="{{ file.name }} ({{ returnFileSize(file.size) }})"
        class="tw-mr-2 tw-mt-1"
        [isFile]="true"
        [file]="file"
        (remove)="removeFile($event)"
      ></app-chip>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="tw-flex tw-justify-between">
      <app-base-button
        [label]="'BUTTON.CANCEL'"
        [isTextStyle]="true"
        [outlined]="true"
        (onClick)="closeDialog()"
      />
      <app-base-button
        [label]="'BUTTON.SAVE'"
        (onClick)="save()"
        [disabled]="!this.activityFormGroup.valid"
      />
    </div>
  </ng-template>
</p-dialog>

<p-overlayPanel #assoPanel>
  <div class="asso-div tw-flex">
    <p-tabView>
      <!-- contact tab -->
      <p-tabPanel>
        <ng-template pTemplate="header">
          <div styleClass="tw-flex tw-w-full tw-justify-between">
            {{ "PROFILE.CONTACTS" | translate }}
          </div>
          <div>({{ assoContactForm.value?.length ?? 0 }})</div>
        </ng-template>
        <div>
          <app-base-form [formConfig]="assoContactFormConfig"></app-base-form>
        </div>
      </p-tabPanel>

      <!-- company tab -->
      <p-tabPanel>
        <ng-template pTemplate="header">
          <div styleClass="tw-flex tw-w-full tw-justify-between">
            {{ "PROFILE.COMPANYS" | translate }}
          </div>
          <div>({{ assoCompanyForm.value?.length ?? 0 }})</div>
        </ng-template>
        <div>
          <app-base-form [formConfig]="assoCompanyFormConfig"></app-base-form>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</p-overlayPanel>
