<!-- <app-toast></app-toast> -->

<div
  class="tw-grid tw-p-[var(--content-gap)] allProp-div"
  *ngIf="propertyConfig.length > 0"
>
  <!-- search bar -->
  <div
    class="search-div tw-grid lg:tw-flex tw-gap-[var(--content-gap)] tw-items-center"
  >
    <app-base-input
      [placeholder]="'Search Properties...'"
      [autoFocus]="true"
      [fieldControl]="searchControl"
      [class]="windowSize.desktop ? 'tw-w-[70%]' : 'tw-w-full'"
    ></app-base-input>

    <app-base-checkbox
      [options]="hideEmptySearchCheckbox"
      class=""
      [fieldControl]="hideCheckFormControl"
    ></app-base-checkbox>
  </div>

  <!-- property form -->
  <div class="panel-div" *ngFor="let propertyGroup of propertyList">
    <div
      class="tw-mt-[var(--content-gap)]"
      [ngClass]="{
        'tw-block': tempPropertyConfigNumber[propertyGroup.moduleCode] === 1,
        'tw-hidden': tempPropertyConfigNumber[propertyGroup.moduleCode] !== 1
      }"
    >
      <app-accordion-panel [iconPos]="'start'">
        <div acc-panel-header>
          {{ propertyGroup.moduleName }}
        </div>
        <div acc-panel-body>
          <app-base-form
            [formConfig]="returnProfileFormConfig(propertyGroup.moduleCode)"
          ></app-base-form>
        </div>
      </app-accordion-panel>
    </div>
  </div>
</div>

<!-- update profile form dialog -->
<p-dialog
  [(visible)]="showFormUpdateSidebar"
  [position]="'bottom'"
  styleClass="tw-w-full tw-m-[var(--content-gap)]"
>
  <ng-template pTemplate="headless">
    <div
      *ngIf="propUpdateList"
      class="tw-flex tw-flex-wrap tw-items-center tw-m-[var(--content-gap)]"
    >
      <div class="tw-flex">
        <app-base-button
          [label]="'BUTTON.CANCEL'"
          class="tw-ml-[var(--content-gap)]"
          [severity]="'secondary'"
          (onClick)="cancelButton()"
        ></app-base-button>
        <app-base-button
          [label]="'BUTTON.SAVE'"
          styleClass=""
          class="tw-w-full"
          (onClick)="saveButton(module, contactProfile, companyProfile)"
        ></app-base-button>
      </div>

      <app-base-label
        [label]="
          'You\'ve changed ' +
          propUpdateList.length +
          (propUpdateList.length === 1 ? ' property' : ' properties') +
          '.'
        "
        class="tw-ml-[var(--content-gap)]"
      ></app-base-label>
    </div>
  </ng-template>
</p-dialog>
