<div magnetic class="h-screen">
  <app-header
    [user]="user"
    [tenantList]="tenantList"
    [tenantOptionsList]="tenantOptionsList"
    [permission]="permission"
  ></app-header>
  <app-breadcrumb></app-breadcrumb>
  <div *ngIf="tenantOptionsList.length > 0">
    <router-outlet></router-outlet>
  </div>
  <!-- <div *ngIf="tenantOptionsList.length === 0">
    <app-home></app-home>
  </div> -->
  <div class="tw-fixed tw-right-[10px] tw-bottom-[10px]">
    <!-- <app-toggle-theme
      (blobityClick)="blobityFunc($event)"
      [user]="user"
    ></app-toggle-theme> -->
  </div>
  <app-footer></app-footer>
</div>
